.section {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.photo {
    height: 50vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.like {
    display: flex;
    align-items: center;

    padding: 0.5vh 2vw;
    background-color: #5BDE40;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;

    height: 5vh;
    border-radius: 10px;

    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.like:hover {
    background-color: #3b9229;
}

.unlike {
    display: flex;
    align-items: center;

    padding: 0.5vh 2vw;
    background-color: #DE332A;
    margin-top: 2vh;

    height: 5vh;
    border-radius: 10px;

    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.unlike:hover {
    background-color: #96221c;
}